
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
   <classes>
  <class name="discoverDollors.Homescript"/>
      <class name="discoverDollors.Team"/>
      <class name="discoverDollors.NewsOption"/>
      <class name="discoverDollors.CareerOption"/>
      <class name="discoverDollors.Contact"/></classes>
  </test> 
</suite> 
